<h1 class="page-header">Lista de tarefas</h1>

<div class="well">
  <div class="row">
    <div class="col-md-10">
      <input type="text" placeholder="Digite um nova tarefa" [(ngModel)]="newTask.title" class="form-control">
    </div>
    <div class="col-md-2">
      <button class="btn btn-success" (click)="createTask()">
        Adicionar Tarefa
      </button>
    </div>
  </div>
</div>

<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks" >
        <td>{{ task.id }}</td>
        <td>{{ task.title }}</td>
        <td>
            <a [routerLink]="['/tasks', task.id]" class="btn btn-info">
              <span class="glyphicon glyphicon-info-sign"></span>
              Detalhes
            </a>
          <button class="btn btn-danger">excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
