<h1 class="page-header">Detalhes da tarefa Nº {{ task?.id }}</h1>

<form #taskForm="ngForm" *ngIf="task">

  <div class="row">
    <div class="form-group col-md-6">
      <label for="title" class="control-label">Título</label>  
      <input [(ngModel)]="task.title" id="title" name="title" type="text" class="form-control" placeholder="Título">
    </div>

    <div class="form-group col-md-3">
      <label for="deadline" class="control-label">Prazo de Entrega</label>  
      <input [(ngModel)]="task.deadline" id="deadline" name="deadline" type="text" class="form-control">
    </div> 

    <div class="form-group col-md-3">
      <label for="done" class="control-label">Prazo de Entrega</label>  
      <select [(ngModel)]="task.done" id="done" name="done" class="form-control">
        <option *ngFor="let option of doneOptions" [value]="option.value">{{ option.text }}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-12">
      <label for="description" class="control-label"></label>
      <textarea [(ngModel)]="task.description" name="description" id="description"rows="4" class="form-control"></textarea>
    </div>
  </div>

  
  <button class="btn btn-info" (click)="goBack()">Voltar</button>
  <button type="submit" class="btn btn-success" (click)="updateTask()" >Atualizar</button>  

  <hr>

  <pre>{{ task | json }}</pre>

</form>
